/* Shared style */
.button-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 45px;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Header section style */
.header-background {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    padding-left: 240px;

}

.header-image {
    padding-top: 50px;
    padding-right: 240px;
}

.header-title {
    padding-top: 130px;
    /* padding-left: 240px; */
    max-width: 700px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0px;
}

.header-body {
    max-width: 630px;
    /* padding-left: 240px; */
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    margin-top: 32px;
}
#button-space{
    margin-bottom: 170px;
}